* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    background: url(../images/destopimg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: yellow;
    /* padding-top: 20px; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 1; */
    display: flex;
    height: 5%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-shadow: 2px 2px 4px black;
    font-weight: 800;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 19px;
    margin-left: 20px;
    text-decoration: none;
    opacity: 70%;
    transition: .5s;
}

header a:hover{
    color: whitesmoke;
    text-shadow: 0 0 8px white;
}
.card1{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: brown;
}
.card1 img{
    width: 50%;
    height: 35%;
    border-radius: 50%;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    padding: 20px;
}

.container{
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: blueviolet;
}