* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color:black;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    background-color: rgb(92, 49, 247);
    width: 100%;
    display: flex;
    height: 40px;
    flex-direction: row;
    z-index: 1;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-shadow: 2px 2px 4px black;
    font-weight: 800;
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 19px;
    margin-left: 20px;
    text-decoration: none;
    transition: .5s;
}

header a:hover{
    color: whitesmoke;
    text-shadow: 0 0 8px white;
}
.container{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.card1{
    box-shadow: 5px 5px 10px rgb(92, 49, 247);
    background-image: url(../images/universe.jpg);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
}

.card1 img{
    width: 62%;
    height: 55%;
    border-radius: 4px;
}

.card1 p{
    color: white;
    padding: 3px;
    border-left: 1px solid white; border-right: 1px solid white; border-bottom: 1px solid white; border-top: 1px solid white;
}
.card1 h1{
    color: white;
}

h1{
    
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    padding: 20px;
}

h2{
    
    width: fit-content;
    background-color: white;
}

.text h2{
    background-color: rgb(92, 49, 247);
}

.quemsou {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text{
    font-family: 'Space Mono', monospace;
    color:rgb(219, 219, 219);
    font-weight: 600;
    text-shadow: 2px 2px 3px black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    width: 700px;    
}

.hobbies{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Space Mono', monospace;
    color:rgb(219, 219, 219);
    font-weight: 600;
    text-shadow: 2px 2px 3px black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.hobbies p{
    margin-top: 50px;
}

.hobbies h2{
    background-color: rgb(92, 49, 247);
}


.contato {
    font-family: 'Space Mono', monospace;
    color: white;
    height: 100vh;
    background-color:black;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contato h2{
    background-color: rgb(92, 49, 247);
    text-shadow: 2px 2px 3px black;
    font-size: 30px;
}

form input,
form textarea {
    outline: unset;
    padding: 10px;
    width: 300px;
    color: black;
    border: 1px solid;
    border-radius: 20px;
}

form input[type=submit] {
    cursor: pointer;
}

form div {
    margin-bottom: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: rgb(92, 49, 247);
}